// Fonts
$inter : 'Inter', sans-serif;

// Colors

$white : #fff;
$black : #000;
$black1 : #000E08;
$black2 : #231714;
$green : #007E44;
$orange : #DF611A;
$gray: #D9D9D9;
$lightBg : #F5F5F5;


// Breakpoints
$xs : 476px;
$sm : 576px;
$md : 768px;
$lg : 992px;
$xl : 1200px;
$xxl : 1600px;