// Container styles
.container {
  display: block;
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1224px;
  width: 100%;
}

.container-fluid {
  display: block;
  margin: 0 auto;
  padding: 0px;
  max-width: 100%;
  width: 100%;
}